<html>
    <head>
        <title>Rahin's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My Blog</a></h1>
        </div>

        <div>
            <p>published: 14.12.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi there! I am Saima.</p>
        </div>

        <div>
            <p>published: 14.12.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>From BRACU. It works!</p>
        </div>
   </body>
</html>